---
import Hedrite from "../../libs/hedrite-web/src/Hedrite.svelte";
import Layout from "../layouts/Layout.astro";
import Age from "../components/Age.svelte";
---

<Layout>
    <section class="intro">
        <p>
            Hi, I'm Job Savelsberg, <Age client:only="svelte" /> years old, living in the Netherlands.
        </p>
        <p>
            I'm a software engineer with a passion for creating things. Apart
            from software, I especially enjoy making music and photography.
        </p>
    </section>
    <div class="hedrite-wrapper" tabindex="0">
        <Hedrite client:idle="svelte" />
    </div>
</Layout>

<style>
    .intro {
        transition: opacity 0.3s ease-in-out;
    }

    .intro:has(+ .hedrite-wrapper:focus-within) {
        opacity: 0;
    }

    .hedrite-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
        width: 100vw;
        height: 100vh;
    }
</style>
