---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="pt-8">
        <blockquote
            class="text-primary border-primary border-l-4 pl-4 font-serif"
            style="font-style: italic;"
        >
            This page is coming soon...
        </blockquote>
    </main>
</Layout>
