---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="pt-8">
        <code
            class="text-primary border-primary overflow-x-auto rounded-md border-2 p-4 font-mono text-sm"
        >
            This page is coming soon...
        </code>
    </main>
</Layout>
