---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="nav-container">
    <a class="home" href="/"> Job Savelsberg </a>
    <div class="nav-links">
        <a class="photography" href="/photography">Photography</a>
        <a class="music" href="/music">Music</a>
        <a class="software" href="/software">Software</a>
    </div>
    <ThemeIcon />
</header>
<style>
    .home {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-background);
        margin-inline: auto;
        max-inline-size: var(--max-width-centered);
        width: 100%;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
    }
    .nav-links a {
        text-decoration: none;
        color: var(--color-text);
        font-weight: 500;
    }
    .nav-links a:hover {
        color: var(--color-primary);
    }
</style>
